.head{
	width: 100%;
	height: 8%;
}
.head img{
	width: 100%;
	height: 100%;
}
.section div:nth-child(2){
	width: 100%;
	height: 92%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.music{
	position: absolute;
	top: 150px;
	right: 60px;
}
.scroll{
	position: absolute;
	bottom: 58px;
	left: 47%;
}
.line{
	position: relative;
	top: 820px;
	left: 66px;
}
.p1{
	background-image: url(../image/p1.jpg);
}
.p1 .word{
	position: relative;
	top: 196px;
	left: 70px;
}
.p2{
	background-image: url(../image/p2.jpg);
}
.p2 .p2_word{
	position: relative;
	top: 720px;
	left: 120px;
}
.p2 .portrait{
	position: relative;
	top: 840px;
	right: 562px;
}