.header {
    position: relative;
    top: 0;
    height: 100px;
    background: url('../image/head.jpg');
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.p10-body {
    height: 92%;
    background: url('../image/p10-bg.png');
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
